@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin: 0%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10%;
}

.contenedorPrincipal{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 98vw;
    height: 87.5%;
    gap: 25%;
    border-radius: 20px;
    background-image: url(/imagenes/cerrito.png);
    background-position: center;
    background-size: cover;

}
.titulo{
    color: white;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}
#ti{
    font-family: "Source Code Pro";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 80%;
    font-size: 10vw;
    margin: 0%;
    font-weight: 600;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

#secti{
    margin: 0%;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-size: 1.9vw;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    font-family: "Source Sans 3", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    width: 50%;
    height: 20vh;
}
button{
    z-index: 50;
    background: none;
    width: 13vw; 
    height: 5vh; 
    font-size: 16px; 
    padding: 10px; 
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 2.3vw;
    text-decoration: underline;
}
.buho{
    height: auto;
    width: 30%;
    display: block;
}
.imagen_cont {
    position: absolute;
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: auto; 
    
}
.log{
    width: 8%;
}